<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание навыка</title>
</head>
<body>

<h1>Создание нового навыка</h1>

<form th:action="@{/api/v1/me/skill}" th:object="${skill}" th:method="post" enctype="multipart/form-data">

        <input type="text" th:field="*{name}" required placeholder="Название" />
    <div>
        <input type="text" th:field="*{category}" required placeholder="Категория" />
    </div>
    <div>
        <textarea th:field="*{description}" required placeholder="Описание"></textarea>
    </div>
    <div>
        <label>Файл:</label>
        <input type="file" th:field="*{file}" accept="image/*" />
    </div>
    <div>
        <button type="submit">Создать</button>
    </div>
</form>

</body>
</html>
