<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${skill.name}">Skill page</title>
    <link rel="stylesheet" th:href="@{/css/skill.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/breadcrumbs.css}">
    <link rel="stylesheet" th:href="@{/css/skills.css}">
    <link rel="stylesheet" th:href="@{/css/rate.css}">
    <link rel="stylesheet" th:href="@{/css/request.css}">
    <script defer th:src="@{/js/header.js}"></script>
    <script defer th:src="@{/js/login.js}"></script>
    <script defer th:src="@{/js/skill-enroll.js}"></script>
    <script defer th:src="@{/js/comment.js}"></script>
</head>
<body>

<div th:replace="fragments/header"></div>

<div th:replace="fragments/login-modal-form"></div>

<div class="container">
    <div class="top-image">
        <img th:src="${skill.imageFilename}" alt="Banner">
    </div>

    <div class="bottom-wrapper">
        <div class="main-content">
            <div class="breadcrumbs">
                <a th:href="@{/user}">users</a>
                <span>/</span>
                <a th:href="@{/user/{username}(username=${skill.username})}"
                   th:text="${skill.username}">Username</a>
                <span>/</span>
                <a th:href="@{/user/{username}/skill(username=${skill.username})}">skills</a>
                <span>/</span>
                <a th:href="@{/user/{username}/skill/{id}(username=${skill.username}, id=${skill.id})}"
                   th:text="${skill.name}">Skill name</a>
                <span>/</span>
                <a th:href="@{/user/{username}/skill/{id}/comment(username=${skill.username}, id=${skill.id})}">comments</a>
            </div>
            <div class="skill-header">
                <h2 th:text="${skill.name}">Skill name</h2>
                <button id="enroll"
                        class="custom-button custom-button-1"
                        th:attr="data-username=${skill.username}, data-skill-id=${skill.id}"
                        th:disabled="${user == null || skill.isArchived}">
                    Enroll
                </button>
            </div>
            <p style="font-size: 12px; color: red;" th:if="${skill.isArchived}">(Archived)</p>


            <nav class="skill-navbar">
                <ul>
                    <li><a th:href="@{/user/{username}/skill/{skillId}(username=${skill.username}, skillId=${skill.id})}" >Main</a></li>
                    <li><a href="#" th:text="'Comments(' + ${skill.commentCount} + ')'" style="color: black">Comments</a></li>
                    <li><a th:href="@{/user/{username}/skill/{skillId}/review(username=${skill.username}, skillId=${skill.id})}" th:text="'Reviews(' + ${skill.ratingCount} + ')'">Reviews</a></li>
                </ul>
            </nav>

            <div class="skill-content-row">
                <div class="skill-description">
                    <h3>Comments</h3>

                    <div th:if="user != null">
                        <form id="comment-form"
                              th:attr="data-baseurl=${baseUrl}"
                              th:action="@{/api/v1/user/{username}/skill/{id}/comment(username=${skill.username},id=${skill.id})}"
                              method="post"
                              class="review-form">

                        <div>
                                <label for="commentMessage">Leave a comment (max 100 chars):</label>
                                <textarea id="commentMessage" name="message" maxlength="100" rows="3"
                                          placeholder="Your comment..."></textarea>
                            </div>
                            <button class="custom-button custom-button-1" type="submit"
                                    th:attr="disabled=${user == null}">Submit</button>
                        </form>
                    </div>

                    <div id="comments" th:if="${comments != null and comments.totalElements > 0}">
                        <div class="skill-row" style="display: block" th:each="comment : ${comments}">
                            <strong th:text="${comment.authorUsername}">Author</strong>
                            <span th:text="${#temporals.format(comment.createdAt, 'dd MMM yyyy HH:mm')}"> — 20 Jun 2025 14:35</span>
                            <p th:text="${comment.text}">Comment message</p>
                        </div>

                        <!-- Пагинация -->
                        <div class="pagination">
                            <a th:if="${!comments.first}"
                               th:href="@{${baseUrl}(page=${comments.number - 1})}">« Prev</a>
                            <a th:if="${!comments.last}"
                               th:href="@{${baseUrl}(page=${comments.number + 1})}">Next »</a>
                        </div>
                    </div>

                    <p id="no-comments-msg" th:if="${comments == null or comments.totalElements == 0}">No comments yet.</p>
                </div>
                <div class="skill-stats">
                    <div class="stat-item">
                        <h4>Rating</h4>
                        <p th:text="${#numbers.formatDecimal(skill.rating, 1, 2)}">rating</p>
                    </div>
                    <div class="stat-item">
                        <h4>Lessons taught</h4>
                        <p th:text="${skill.lessonCount}">lessons</p>
                    </div>
                    <div class="stat-item">
                        <h4>Lectures held</h4>
                        <p th:text="${skill.lectureCount}">lectures</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div th:replace="fragments/request-enroll"></div>

<div id="rate-error-message" class="error-message hidden"></div>

</body>
</html>
