<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Lessons</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/breadcrumbs.css}">
    <link rel="stylesheet" th:href="@{/css/lesson.css}">
    <script defer th:src="@{/js/header.js}"></script>
    <script defer th:src="@{/js/login.js}"></script>
    <script defer th:src="@{/js/lesson-fetch.js}"></script>
</head>
<body>

<div th:replace="fragments/header"></div>

<div th:replace="fragments/login-modal-form"></div>

<div th:text="${user.username}" style="display:none" id="authUser"></div>

<div id="lesson-container" class="lesson-container">
    <div class="breadcrumbs">
        <a th:href="@{/me}">me</a>
        <span>/</span>
        <a th:href="@{/me/lessons}">lessons</a>
    </div>
    <h2>My Lessons</h2>
</div>

<div id="lesson-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="lesson-close-btn">&times;</span>
        <div id="lesson-info">Тут заполнять данными</div>
    </div>
</div>

</body>
</html>