<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${skill.name}">Skill page</title>
    <link rel="stylesheet" th:href="@{/css/skill.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/breadcrumbs.css}">
    <script defer th:src="@{/js/header.js}"></script>
    <script defer th:src="@{/js/login.js}"></script>
    <script defer th:src="@{/js/skill-enroll.js}"></script>
</head>
<body>

<div th:replace="fragments/header"></div>

<div th:replace="fragments/login-modal-form"></div>

<div class="container">
    <div class="top-image">
        <img th:src="${skill.imageFilename}" alt="Banner">
    </div>

    <div class="bottom-wrapper">
        <div class="main-content">
            <div class="breadcrumbs">
                <a th:href="@{/user}">users</a>
                <span>/</span>
                <a th:href="@{/user/{username}(username=${skill.username})}"
                   th:text="${skill.username}">Username</a>
                <span>/</span>
                <a th:href="@{/user/{username}/skill(username=${skill.username})}">skills</a>
                <span>/</span>
                <a th:href="@{/user/{username}/skill/{id}(username=${skill.username}, id=${skill.id})}"
                   th:text="${skill.name}">Username</a>
            </div>
            <div class="skill-header">
                <h2 th:text="${skill.name}">Skill name</h2>
                <button id="enroll"
                        class="custom-button custom-button-1"
                        th:attr="data-username=${skill.username}, data-skill-id=${skill.id}"
                        th:disabled="${user == null || skill.isArchived}">
                    Enroll
                </button>
            </div>
            <p style="font-size: 12px; color: red;" th:if="${skill.isArchived}">(Archived)</p>


            <nav class="skill-navbar">
                <ul>
                    <li><a href="#" style="color: black">Main</a></li>
                    <li><a href="#" th:text="'Comments(' + ${skill.commentCount} + ')'">Comments</a></li>
                    <li><a th:href="@{/user/{username}/skill/{skillId}/review(username=${skill.username}, skillId=${skill.id})}" th:text="'Reviews(' + ${skill.ratingCount} + ')'">Reviews</a></li>
                </ul>
            </nav>

            <div class="skill-content-row">
                <div class="skill-description">
                    <h3>Description</h3>
                    <p th:text="${skill.description}">Skill description</p>
                </div>
                <div class="skill-stats">
                    <div class="stat-item">
                        <h4>Rating</h4>
                        <p th:text="${#numbers.formatDecimal(skill.rating, 1, 2)}">rating</p>
                    </div>
                    <div class="stat-item">
                        <h4>Lessons taught</h4>
                        <p th:text="${skill.lessonCount}">lessons</p>
                    </div>
                    <div class="stat-item">
                        <h4>Lectures held</h4>
                        <p th:text="${skill.lectureCount}">lectures</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div id="enroll-modal" class="modal">
    <div class="modal-content" id="modal-content">
        <span class="close-btn" id="enroll-close-btn">&times;</span>
        <h2>Choose Schedule Range</h2>
        <select id="schedule-range">
            <option value="7">Next 7 Days</option>
            <option value="30">Next 30 Days</option>
        </select>

        <div id="slots-container" class="slots-scrollable">
            <!-- Сюда вставляются слоты -->
        </div>

        <button id="confirm-enroll" class="custom-button custom-button-2">Enroll</button>
    </div>
</div>

<div id="success-message" class="success-message hidden">
    Request has been sent. Wait for the response
</div>

</body>
</html>
