<header class="navbar-top">
    <!-- Левая часть: гамбургер и название -->
    <div class="navbar-left">
        <img src="/images/logo.png" alt="logo" class="logo">
    </div>

    <!-- Правая часть: авторизация -->
    <div class="navbar-right">
        <div th:if="${user != null}">
            <a href="/profile">
                <img th:src="${user.avatarFilename}" alt="User" class="user-icon">
            </a>
        </div>
        <div th:if="${user == null}" class="auth-buttons">
            <button class="custom-button custom-button-1" id="loginBtn">Log In</button>
            <a href="/register" class="button-a">
                <button class="custom-button custom-button-2">Sign Up</button>
            </a>
        </div>
    </div>
</header>