<div th:fragment="skillList">
    <a th:each="skill : ${skills}"
       th:href="@{/user/{username}/skill/{id}(username=${skillUsername}, id=${skill.id})}"
       class="skill-row-link">
        <div class="skill-row">
            <img th:src="@{${skill.imageFilename}}" alt="Skill Image" class="skill-row-image"/>
            <div class="skill-row-texts">
                <div class="skill-row-name-rating">
                    <span class="skill-name" th:text="${skill.name}">Skill Name</span>
                    <span class="skill-rating" th:text="'Rating: ' + ${#numbers.formatDecimal(skill.rating, 1, 2)}">Rating</span>
                </div>
                <p class="skill-description"
                   th:text="${skill.description.length() > 50} ? ${skill.description.substring(0,47) + '...'} : ${skill.description}">
                    Skill Description
                </p>
            </div>
        </div>
    </a>
</div>